<div>
    <div style="float: left;margin-right: 10px;"><p>Los siguientes alumnos se encuentran inscriptos al curso: </p></div>
    <div> 
        <button *ngIf="!mostrarAlumnos" (click)="mostrarAlumnos = true">Mostrar Alumnos</button>
        <button *ngIf="mostrarAlumnos" (click)="mostrarAlumnos = false">Ocultar Alumnos</button>
    </div>
</div>
<br>
<div class="ListaAlumnos">
    <ul *ngIf="mostrarAlumnos">
        <li *ngFor="let alumno of alumnos" [ngClass]="porArriba ? 'porArriba' : 'porAbajo'" (mouseover)="porArriba = true" (mouseout)="porArriba = false">
            {{alumno}}
        </li>
    </ul>
</div>